In [2]:
import pandas as pd

In [66]:
xls = pd.ExcelFile('DATABASE.xlsx')
df1 = pd.read_excel(xls, 'PIT')
df2 = pd.read_excel(xls, 'PT_Hx')
df3 = pd.read_excel(xls, 'Para_clinic')
df4 = pd.read_excel(xls, 'Laboratory')
df_merged = df1.merge(df2, on=['Code', 'Date'], how='outer')
df_merged = df_merged.merge(df3, on=['Code', 'Date'], how='outer')
df_merged = df_merged.merge(df4, on=['Code', 'Date'], how='outer')

In [67]:
df_merged

,Se,Code,Date,تاریخ نوبت,first_name,last_name,father_name,sex,age,وضعیت تاهل,...,Homa-IR,HS-CRP,APO-a,Urea,Cr,URIC_ACID,AEMA,Anti tTG,IgA level,Anti Gelyadin
0,NaN,1.0,861006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,se,1.0,861007.0,NaN,پروین,شعاعی,یحیی,زن,53.0,متاهل,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1.0,861023.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1.0,861128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1.0,870819.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21329,NaN,12969.0,931106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,13.800000,1.000000,NaN,NaN,NaN,NaN,NaN
21330,NaN,361680.0,880817.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,34.000000,1.000000,4.800000,NaN,NaN,NaN,NaN
21331,NaN,742913.0,890226.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,34.000000,1.200000,5.700000,NaN,NaN,NaN,NaN
21332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.0,14294.000000,14783.000000,13187.000000,0,0,0,0
21333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.0,77.672119,80.329294,71.656795,0,0,0,0

In [65]:
headers = df_merged.columns.tolist()
headers

['Se',
 'Code',
 'Date',
 'تاریخ نوبت',
 'first_name',
 'last_name',
 'father_name',
 'sex',
 'age',
 'وضعیت تاهل',
 'education',
 'job',
 'telephone',
 'phone',
 'file_code',
 'doctor',
 'address',
 'نام كاربر',
 'date_time',
 'شماره پرونده بستری در بیمارستان مدنی',
 'شماره پرونده بستری در بیمارستان سینا',
 'شماره پرونده بستری در سایر بیمارستانها',
 'نام بیمارستان',
 'شماره پرونده بستری در کلینیک بیمارستان مدنی',
 'شماره پرونده بستری در کلینیک بیمارستان سینا',
 'شماره پرونده بستری در کلینیک شیخ الرئیس',
 'City',
 'BMI_x',
 'Diabet',
 'Diabet Hx',
 'Obesity',
 'Obesity Hx',
 'Hyper Lipidemia',
 'Hyper Lipidemia Hx',
 'Hyper Tension',
 'Hyper Tension Hx',
 'Smoking',
 'Alcohol',
 'Metotroxate',
 'Aspirine',
 'Glococorticoide',
 'Amiodaron',
 'Ca Chanel Bluker',
 'Strogen',
 'Tetracycline',
 'Comadine',
 'Hydralazine',
 'Analogs',
 'Chemi Trapy',
 'Tamoxifen',
 'Comment_x',
 'OK_x',
 'HTN',
 'Nejad',
 'FH',
 'Comment_y',
 'OK_y',
 'SONOLOGIST',
 'FLI',
 'FLII',
 'FLIII',
 'SAME',
 'NON SAME',
 'LIVER SIZE',
 'SPLEEN Size',
 'MALFUNCTION',
 'RUQ PAIN',
 'RUQ OTHER',
 'HEPATOMEGALLY',
 'SPLENOMEGALLY',
 'SIROSIS',
 'Weight',
 'Hight',
 'BMI_y',
 'Dialy Walking Time',
 'Abdominal Size',
 'walking',
 'IMT - R',
 'IMT - L',
 'Comment',
 'OK',
 'AST',
 'ALT',
 'ALP',
 'BILI-T',
 'BILI-D',
 'BILI-I',
 'CHOLESTROL',
 'TG',
 'FBS',
 'ANA',
 'AMA',
 'ASMA',
 'Anti KLM1',
 'PT',
 'PTT',
 'Hb',
 'Hct',
 'Plt',
 'HBs Ag',
 'HBc Ab',
 'HCV - Ab',
 'Cu 24h Urin',
 'GAMMA',
 'Fe',
 'TIBC',
 'Ferritin',
 'Seroloplasmin',
 'A1AT',
 'Alb',
 'Hb-A1c',
 'ESR',
 'TSH',
 '2H-PP',
 'ITT',
 'HDL',
 'LDL',
 'Homa-IR',
 'HS-CRP',
 'APO-a',
 'Urea',
 'Cr',
 'URIC_ACID',
 'AEMA',
 'Anti tTG',
 'IgA level',
 'Anti Gelyadin']

In [55]:
df = df_merged.drop(columns=['شماره پرونده بستری در بیمارستان مدنی',
 'شماره پرونده بستری در بیمارستان سینا',
 'شماره پرونده بستری در سایر بیمارستانها',
 'نام بیمارستان',
 'شماره پرونده بستری در کلینیک بیمارستان مدنی',
 'شماره پرونده بستری در کلینیک بیمارستان سینا',
 'شماره پرونده بستری در کلینیک شیخ الرئیس','وضعیت تاهل','تاریخ نوبت','نام كاربر','first_name',
 'last_name',
 'father_name','Dialy Walking Time',
 'Abdominal Size','education',
 'job',
 'telephone',
 'phone',
 'doctor',
 'address',
 'نام كاربر',
 'date_time',])

In [59]:
headers = df.columns.tolist()
headers

['Se',
 'Code',
 'date1',
 'sex',
 'age',
 'file_code',
 'City',
 'BMI_x',
 'Date_x',
 'Diabet',
 'Diabet Hx',
 'Obesity',
 'Obesity Hx',
 'Hyper Lipidemia',
 'Hyper Lipidemia Hx',
 'Hyper Tension',
 'Hyper Tension Hx',
 'Smoking',
 'Alcohol',
 'Metotroxate',
 'Aspirine',
 'Glococorticoide',
 'Amiodaron',
 'Ca Chanel Bluker',
 'Strogen',
 'Tetracycline',
 'Comadine',
 'Hydralazine',
 'Analogs',
 'Chemi Trapy',
 'Tamoxifen',
 'Comment_x',
 'OK_x',
 'HTN',
 'Nejad',
 'FH',
 'Date_y',
 'Comment_y',
 'OK_y',
 'SONOLOGIST',
 'FLI',
 'FLII',
 'FLIII',
 'SAME',
 'NON SAME',
 'LIVER SIZE',
 'SPLEEN Size',
 'MALFUNCTION',
 'RUQ PAIN',
 'RUQ OTHER',
 'HEPATOMEGALLY',
 'SPLENOMEGALLY',
 'SIROSIS',
 'Weight',
 'Hight',
 'BMI_y',
 'walking',
 'IMT - R',
 'IMT - L',
 'Date',
 'Comment',
 'OK',
 'AST',
 'ALT',
 'ALP',
 'BILI-T',
 'BILI-D',
 'BILI-I',
 'CHOLESTROL',
 'TG',
 'FBS',
 'ANA',
 'AMA',
 'ASMA',
 'Anti KLM1',
 'PT',
 'PTT',
 'Hb',
 'Hct',
 'Plt',
 'HBs Ag',
 'HBc Ab',
 'HCV - Ab',
 'Cu 24h Urin',
 'GAMMA',
 'Fe',
 'TIBC',
 'Ferritin',
 'Seroloplasmin',
 'A1AT',
 'Alb',
 'Hb-A1c',
 'ESR',
 'TSH',
 '2H-PP',
 'ITT',
 'HDL',
 'LDL',
 'Homa-IR',
 'HS-CRP',
 'APO-a',
 'Urea',
 'Cr',
 'URIC_ACID',
 'AEMA',
 'Anti tTG',
 'IgA level',
 'Anti Gelyadin']

In [61]:
rename_dict = {
    'Se': 'Sequence',
    'Code': 'PatientCode',
    'date1': 'AppointmentDate',
    'first_name': 'FirstName',
    'last_name': 'LastName',
    'father_name': 'FatherName',
    'sex': 'Sex',
    'age': 'Age',
    'education': 'Education',
    'job': 'Job',
    'telephone': 'Telephone',
    'phone': 'Phone',
    'file_code': 'FileCode',
    'doctor': 'Doctor',
    'address': 'Address',
    'date_time': 'DateTime',
    'City': 'City',
    'BMI_x': 'BMI_x',
    'Date_x': 'Date_x',
    'Diabet': 'Diabetes',
    'Diabet Hx': 'DiabetesHistory',
    'Obesity': 'Obesity',
    'Obesity Hx': 'ObesityHistory',
    'Hyper Lipidemia': 'Hyperlipidemia',
    'Hyper Lipidemia Hx': 'HyperlipidemiaHistory',
    'Hyper Tension': 'Hypertension',
    'Hyper Tension Hx': 'HypertensionHistory',
    'Smoking': 'Smoking',
    'Alcohol': 'Alcohol',
    'Metotroxate': 'Methotrexate',
    'Aspirine': 'Aspirin',
    'Glococorticoide': 'Glucocorticoid',
    'Amiodaron': 'Amiodarone',
    'Ca Chanel Bluker': 'CalciumChannelBlocker',
    'Strogen': 'Estrogen',
    'Tetracycline': 'Tetracycline',
    'Comadine': 'Coumadin',
    'Hydralazine': 'Hydralazine',
    'Analogs': 'Analogs',
    'Chemi Trapy': 'Chemotherapy',
    'Tamoxifen': 'Tamoxifen',
    'Comment_x': 'Comment_x',
    'OK_x': 'OK_x',
    'HTN': 'HTN',
    'Nejad': 'Nejad',
    'FH': 'FH',
    'Date_y': 'Date_y',
    'Comment_y': 'Comment_y',
    'OK_y': 'OK_y',
    'SONOLOGIST': 'Sonologist',
    'FLI': 'FLI',
    'FLII': 'FLII',
    'FLIII': 'FLIII',
    'SAME': 'SAME',
    'NON SAME': 'NonSame',
    'LIVER SIZE': 'LiverSize',
    'SPLEEN Size': 'SpleenSize',
    'MALFUNCTION': 'Malfunction',
    'RUQ PAIN': 'RUQPain',
    'RUQ OTHER': 'RUQOther',
    'HEPATOMEGALLY': 'Hepatomegaly',
    'SPLENOMEGALLY': 'Splenomegaly',
    'SIROSIS': 'Cirrhosis',
    'Weight': 'Weight',
    'Hight': 'Height',
    'BMI_y': 'BMI_y',
    'Dialy Walking Time': 'DailyWalkingTime',
    'Abdominal Size': 'AbdominalSize',
    'walking': 'Walking',
    'IMT - R': 'IMT_R',
    'IMT - L': 'IMT_L',
    'Date': 'Date',
    'Comment': 'Comment',
    'OK': 'OK',
    'AST': 'AST',
    'ALT': 'ALT',
    'ALP': 'ALP',
    'BILI-T': 'BILI_T',
    'BILI-D': 'BILI_D',
    'BILI-I': 'BILI_I',
    'CHOLESTROL': 'Cholesterol',
    'TG': 'Triglycerides',
    'FBS': 'FastingBloodSugar',
    'ANA': 'ANA',
    'AMA': 'AMA',
    'ASMA': 'ASMA',
    'Anti KLM1': 'AntiKLM1',
    'PT': 'PT',
    'PTT': 'PTT',
    'Hb': 'Hemoglobin',
    'Hct': 'Hematocrit',
    'Plt': 'Platelets',
    'HBs Ag': 'HBsAg',
    'HBc Ab': 'HBcAb',
    'HCV - Ab': 'HCVAb',
    'Cu 24h Urin': 'Cu24hUrine',
    'GAMMA': 'Gamma',
    'Fe': 'Iron',
    'TIBC': 'TIBC',
    'Ferritin': 'Ferritin',
    'Seroloplasmin': 'Ceruloplasmin',
    'A1AT': 'A1AT',
    'Alb': 'Albumin',
    'Hb-A1c': 'HbA1c',
    'ESR': 'ESR',
    'TSH': 'TSH',
    '2H-PP': '2HPP',
    'ITT': 'ITT',
    'HDL': 'HDL',
    'LDL': 'LDL',
    'Homa-IR': 'HOMA_IR',
    'HS-CRP': 'HS_CRP',
    'APO-a': 'APO_a',
    'Urea': 'Urea',
    'Cr': 'Creatinine',
    'URIC_ACID': 'UricAcid',
    'AEMA': 'AEMA',
    'Anti tTG': 'Anti_tTG',
    'IgA level': 'IgALevel',
    'Anti Gelyadin': 'AntiGliadin'
}

In [62]:
df.rename(columns=rename_dict, inplace=True)

In [63]:
df.head()

,Sequence,PatientCode,AppointmentDate,Sex,Age,FileCode,City,BMI_x,Date_x,Diabetes,...,HOMA_IR,HS_CRP,APO_a,Urea,Creatinine,UricAcid,AEMA,Anti_tTG,IgALevel,AntiGliadin
0,se,1.0,861007.0,زن,53.0,NaN,NaN,NaN,861006.0,True,...,NaN,NaN,NaN,25.0,1.0,5.1,NaN,NaN,NaN,NaN
1,se,1.0,861007.0,زن,53.0,NaN,NaN,NaN,861006.0,True,...,NaN,NaN,NaN,33.0,1.0,5.4,NaN,NaN,NaN,NaN
2,se,1.0,861007.0,زن,53.0,NaN,NaN,NaN,861006.0,True,...,NaN,NaN,NaN,29.0,0.8,5.6,NaN,NaN,NaN,NaN
3,se,1.0,861007.0,زن,53.0,NaN,NaN,NaN,861006.0,True,...,NaN,NaN,NaN,31.0,1.0,5.0,NaN,NaN,NaN,NaN
4,se,1.0,861007.0,زن,53.0,NaN,NaN,NaN,861006.0,True,...,NaN,NaN,NaN,31.0,0.9,4.0,NaN,NaN,NaN,NaN